.bgimg{
    background-image: url(img/x1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 990px;
}
.headerset{
    padding: 200px;
    box-sizing: border-box;
}
.headerset h2{
    font-size: 30px;
}
.headerset h1
{
    padding: 30px;
    font-weight: bold;
    font-size: 60px;
}
/*......................ourservice....................*/
.ourservice{

    padding: 100px 0px 60px;
    height: 1000px;
    background-color: rgb(180, 178, 178);
    

}
.ourservice h1{
    
    font-size: 50px;
    font-weight: bold;
}
.rowsetting{
    
    padding: 50px;
    margin: 80px 0px important;
}
.imgsetting{
    border-radius: 50% important;
    height:100px;
    width: 100px;
}
/*
.fa-header{

}*/
/*....................portfolio.....................*/
.portfolio{
    height: 1300px;
    width :100%;
    padding: 100px 0px 50px;
}
.portfolio h1{
    font-size: 50px;
    font-weight: bold;

}
.card
{
    margin-top: 40px;
}

/*.............our team..................*/
.ourteam{
    height:900px;
    padding:100px 0px 60px ;
    width: 100%;
}
.ourteam h1{
    font-size: 50px;
    font-weight: bold;
}
.teamsetting{
    margin-top: 70px ;
}
/*...............footer..................*/
.foot
{
    line-height: 50px;
}



/*....................responsive..................*/

@media(min-width: 992px)
{

}

@media(min-width: 768px) and (max-width:991px)
{

}

@media(min-width: 575px) and (max-width:767px)
{
    .bgimg{
        height: 1000px;
    }
    .headerset{
        padding: 200px;
       
    }
    .headerset h2{
        font-size: 30px;
    }
    .headerset h1
    {
        
        
        font-size: 50px;
    }
    .ourservice{

        
        height: 1300px;
                
    }
    .portfolio{
        height: 3700px;
    }
    .ourteam{
        height: 1700px;
    }
}

@media(min-width: 480px) and (max-width:575px)
{
    .ourservice{
        height: 2000px;
    }
    .portfolio{
        height: 3000px;
    }
        
}
@media(max-width: 479px)
{
    .bgimg{
        height: 1200px;
    }
    .headerset{
        padding: 70px;
       
    }
    .headerset h2{
        font-size: 30px;
    }
    .headerset h1
    {
        
        
        font-size: 50px;
    }
    .ourservice{

        
        height: 2000px;
                
    }
    .portfolio{
        height: 3000px;
    }
    
} 
